html, body {
    heigth: 100%;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 20px;
}

.navigation2 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.rome {
    height: 200px;
    width: 30%;
    background: url(https://thumbs.dreamstime.com/b/colosseum-rome-italy-amphitheatre-black-white-symbol-ancient-city-60251014.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 15px;
    box-shadow: none;
    transition: all 0.2s ease;

}   

.rome:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 21px 12px rgba(0,0,0,0.42); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 21px 12px rgba(0,0,0,0.42);
    border: 5px;
    
}

.bruxelles {
    background: url(https://upload.wikimedia.org/wikipedia/commons/e/e7/Arcades_du_Cinquantenaire%2C_Bruxelles.jpg);
    height: 200px;
    width: 30%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 15px;
    box-shadow: none;
    transition: all 0.2s ease;
}

.bruxelles:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 21px 12px rgba(0,0,0,0.42); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 21px 12px rgba(0,0,0,0.42);
    border: 5px;
}


.nyc {
    background: url(https://as1.ftcdn.net/v2/jpg/02/18/47/30/1000_F_218473007_QFceUeXUCiWbtnokoMxNa3gpXi40lUJ2.jpg);
    height: 200px;
    width: 30%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 15px;
    box-shadow: none;
    transition: all 0.2s ease;
}

.nyc:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 21px 12px rgba(0,0,0,0.42); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 21px 12px rgba(0,0,0,0.42);
    border: 5px;}

footer {
    background-color: rgba(159, 159, 159, 0.553);
    padding: 40px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 23px;
}

