:root {
    --regular: "Arial";

    --dark-brown: #402214;
    --lighter-brown: #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --white: #FFF;
    --black: #000;

}

h1 {
    font-family: var(--regular);
    color: var(--darker-red);
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: var(--lighter-brown)
}

.button-container a {
    width: 200px;
    padding: 10px;
    color: #FFF;
    background-color: #F00;

    border-radius: 10px;

    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 16px 16px 15px -2px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 16px 16px 15px -2px rgba(0,0,0,0);
}

.button-container a:hover {
    background-color: #AF1F16;
    text-decoration: none;
}