:root {
    --regular: "Arial";

    --dark-brown: #402214;
    --lighter-brown: #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --white: #FFF;
    --black: #000;

}

h1 {
    font-family: var(--regular);
    color: var(--darker-red);
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: var(--lighter-brown)
}