.red-square {
    width:80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

.big-blue-box {
    width: 200px;
    heigth: 400px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    background-color: blue;
}

.small-red-text {
    color: red;
    font-size: 8px;
}

a   {
    font-size: 22px;
    color: rgb(255, 13, 0);
}

.cascading-parent h2 {
    color: rgb(9, 255, 0);
}

.cascading-parent a {
    font-size: 32px;
    color: #ffff55;
}