:root {
    --regular: "Arial";

    --dark-brown: #402214;
    --lighter-brown: #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --white: #FFF;
    --black: #000;

}

h1 {
    font-family: var(--regular);
    color: var(--darker-red);
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: var(--lighter-brown)
}

.button-container a {
    width: 200px;
    padding: 10px;
    color: #FFF;
    background-color: #F00;

    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0,0.6);
}

.button-container a:hover {
    background-color: #AF1F16;
    text-decoration: none;
}